package userview

import (
	"github.com/lucasmb/getth-cms/models"

	"github.com/lucasmb/getth-cms/view/layout"
	"github.com/lucasmb/getth-cms/view/components"
)

templ All(users []models.User) {
	@layout.Base() {
		<div class="w-full">
			<h2>
				Users List
			</h2>
			@components.UserForm()
			<div class="overflow-x-auto">
				@components.UsersTable(users)
			</div>
		</div>
	}
}
